<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>753383791517-qavj2st5rs0laildv94a2g7j0hug34ae.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.753383791517-qavj2st5rs0laildv94a2g7j0hug34ae</string>
	<key>API_KEY</key>
	<string>AIzaSyB-1dyjBy06Na4qVnqfU8Cii9ga-IIErsw</string>
	<key>GCM_SENDER_ID</key>
	<string>753383791517</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>br.com.andrevicente.marvelApp</string>
	<key>PROJECT_ID</key>
	<string>marvelapp-9c80d</string>
	<key>STORAGE_BUCKET</key>
	<string>marvelapp-9c80d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:753383791517:ios:bac2f13ca8d34e4f806d74</string>
</dict>
</plist>